<html>
 <head>
   <title>New book inserted</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
 </head>
 <body>
   <div id="container">
     <div class="pagetitle">
       <h1>Book Inserted</h1>
     </div>
     <div id="main">
       <p>New book inserted:</p>
       <p>
          <strong>ISBN</strong>: {{isbn}} <br>
          <strong>Title</strong>: {{title}} <br>
          <strong>Author</strong>: {{author}} <br>
          <strong>Quote</strong>: {{quote}} <br>
       </p>
     </div>
   </div>
 </body>
</html>