<html>
    <head>
        <title>Change book</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="pagetitle">
            <h1>Change a book</h1>
        </div>
        <div id="main">
            <form method="post" action="{{ url_for('replace_book') }}">
                <label for="isbn">ISBN:</label>
                <input type="text" name="isbn" value="{{isbn}}"><br />

                <label for="title">Title:</label>
                <input type="text" name="title" value="{{title}}"><br />

                <label for="title">Author:</label>
                <input type="text" name="author" value="{{author}}"><br />

                <label for="title">Quote:</label>
                <input type="text" name="quote" value="{{quote}}"><br />  

                <input type="submit">             
            </form>
        </div>
    </body>
</html>
